.wrapper {
	display: flex;
	flex-wrap: wrap;
	background-color: lightgray;
}
.login {
	background-color: rgb(201, 198, 193);
	padding-top: 10rem;
	height: 100vh;
}
.profileSection {
	flex: 8;
	margin: 2rem;
	background-color: #ffffff;
	border-radius: 10px;
	height: max-content;
}
.suggestionSection {
	flex: 3;
	margin: 1rem;
}
.userInfo {
	display: flex;
}
