.wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
}
.profileSection{
    flex:8;
    margin:2rem;
    background-color: #ffffff;
    border-radius: 10px;
    height: max-content;
}
.suggestionSection{
    flex:3;
    margin:1rem;
}
.userInfo{
    display:flex;
    
}