.createPost{
    background-color: white;
    height:fit-content;
    margin:.4rem 1rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.63);
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.63);
    -moz-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.63);
}

.postInput{
    width:20rem;
    height: 2rem;
    padding: 5px 10px;
    margin:0rem .4rem;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}
.postInput:focus{
    outline: none;
}
.avatarImage{
    width:50px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.inputTextForm{
    display: flex;
    align-items: center;
}
.shareButton{
  border: none;
  height: 2rem;
  width: 6rem;
  font-size: large;
  margin: .2rem .4rem;
  cursor: pointer;
  border-radius: 8px;
  color:white;
  background-color: rgb(64, 64, 190);
}
.postImage{
    background-color: rgb(255, 255, 255);
    width: 5rem;
}