* {
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	margin: 1px;
	padding: 1px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 29vw;
	height: 27.1vh;
	padding: 5px;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(192, 72, 72, 0.8)),
		url("../../assets/social-bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
}
.logintext {
	margin: auto;
	color: azure;
	font-weight: 600;
}
.loginbtn {
	margin-top: -1rem;
}
.button {
	width: 300px;
	height: 35px;
	border: 2px solid rgb(251, 79, 108);
	border-radius: 20px;
}
.anchor {
	text-decoration: none;
	color: rgb(251, 79, 108);
}
